body{
    background-color : red;
}
div{
    background-color : cyan;
    width : 300px;
    height : 500px;
}
div[class="name]{
    background-color : green;
    float : left;
    width : 40px;
    height : 400px;
}
